<div id="homepage">
    <center>
        <div id="login" class="overlay">
                    <%= image_tag 'logo.png', :size => "300x200" %>
                        <%= form_for :session, url: { controller: :sessions, action: :create } do |f| %>
                        <%= f.text_field :email, placeholder: "email" %><br />
                        <%= f.password_field :password, placeholder: "password"  %><br />
                        <%= f.submit :Login, :class => "btn btn-primary" %>

                        <%= link_to "Sign in", new_user_path, :class => "btn" %>

                   <% end %>
        </div>
    </center>


    <div id="home-maps">
       &nbsp;
    </div>
</div>