
<div id="homepage">
    <div id="content">
        <div id="login" class="overlay center">
                    <%= image_tag 'logo.png', :size => "300x200" %>
                        <%= form_for :session, url: { controller: :sessions, action: :create } do |f| %>
                        <%= f.text_field :email, placeholder: "email" %><br />
                        <%= f.password_field :password, placeholder: "password"  %><br />
                        <%= f.submit :Login, :class => "btn btn-primary" %>
                   <% end %>
                   <button class="btn" id="sign-btn">Sign in</button>
        </div>

        <div id="sign-up" class="overlay center">
            <%= image_tag 'logo.png', :size => "300x200" %>
                    <%= form_for :user, url:{ controller: :users, action: :create }, :html => { :multipart => true } do |f| %>
                    <%= f.text_field :name, placeholder: "name" %><br />
                    <%= f.text_field :email, placeholder: "email" %><br />
                    <%= f.password_field :password, placeholder: "password" %><br />

                    <%= f.submit "Crea", :class => "btn btn-primary" %>
                <% end %>
                <button class="btn" id="cancel-btn">Cancel</button>
        </div>
    </div>


    <div id="home-maps">
       &nbsp;
    </div>
</div>


<%= javascript_include_tag "home.js" %>

