<%= render 'layouts/menu' %>

<div class="container">
    <div class="row blocco" id="create">
        <div class="span12">

            <div class="row" id="bar-form">
                <div class="span4">
                    <h3>Report an issue</h3>
                    <hr class="row">
                    <%= form_for :issues, :html => { :multipart => true } do |f| %>
                        <%= f.text_field :name, :placeholder => 'Insert a title' %>
                        <%= f.select(:genre, options_for_select([['Select a type',0],['Earthquake', 1],['Flood', 2],['Bush Fire', 3],['Cyclone', 4]])) %>
                        <%= f.text_area :description, :size => '64x9', :placeholder => 'Insert a description' %>
                        <br><br>
                        <%= f.submit "Report", :class => "btn btn-primary" %>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>