<%= render "layouts/menu" %>

<div class="row span12 blocco">
    <%= form_for @user, :html => { :multipart => true } do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

<<<<<<< HEAD
    <%= f.label :password %>
    <%= f.password_field :password %><br />
=======
        <%= f.label :email %>
        <%= f.text_field :email %>
>>>>>>> a567256a52b8a2de50a34ffbe5f28aa00497bdf0

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Crea", :class => "btn btn-primary" %>

    <% end %>
</div>
